<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.like > post.unlike,
                'list-group-item-danger': post.like < post.unlike}">
    <h2 style="float:left;">{{ post.title }}</h2>
    <h3 style="text-align:right;color:gray;font-style:italic">{{ post.created_at | date : 'short' }}</h3>
    <br/>
    <p>{{ post.content }}</p>
    <button class="btn btn-success" (click)="onLike()">
        <img alt="like" width="25" height="25" src="../assets/img/like.png"> {{ post.like }}
    </button>
    <button class="btn btn-danger" (click)="onUnlike()">
        <img alt="like" width="25" height="25" src="../assets/img/dislike.png"> {{ post.unlike }}
    </button>
    <button class="btn btn-danger" style="float:right" (click)="onDeletePost()">Supprimer</button>
</li>


<style>
li:hover {
    background-color: #ddd;
    -webkit-transition: background-color 0.5s;
}
</style>