<div class="row">
  <div class="col-xs-12 list-group-item">
      <button class="btn btn-default pull-right" (click)="onBack()">Retour</button>
    <img style="max-width:400px;" *ngIf="post.photo" [src]="post.photo">
    <h1>{{ post.title }}</h1>
    <h3>{{ post.author }}</h3>
    <p>{{ post.content }}</p>
  </div>
</div>
<nav class="list-group-item">
  <button class="btn btn-success"  (click)="onLikePost(post)">
    <img width="25" height="25" src="../assets/img/like.png" />
    {{ post.like }}
  </button>
  <button class="btn btn-danger"  (click)="onDislikePost(post)">
    <img width="25" height="25" src="../assets/img/dislike.png" />
    {{ post.dislike }}
  </button>
  <button class="btn pull-right" (click)="onDeletePost(post)">
      <img width="25" height="25" src="../assets/img/bin.png" />
  </button>
</nav>